<div class="content">
    <h3>Mahasiswa</h3>
    <table class="table table-bordered table-striped">
        <tr>
          <th>ID.</th>
          <th>nama</th>
          <th>alamat</th>
          <th>email</th>
          <th>phone</th>
          </tr>
        <tr *ngFor="let m of api.data">
          <td>{{m.id}}</td>
          <td>{{m.nama}}</td>
          <td>{{m.alamat}}</td>
          <td>{{m.email}}</td>
          <td>{{m.phone}}</td>
        </tr>
    </table>
</div>