<div class="content">
    <h3>Daftar Course</h3>
    <table class="table table-bordered table-striped">
        <tr>
          <th>ID.</th>
          <th>nama_course</th>
          <th>nama_dosen</th>
          <th>sks</th>
          </tr>
        <tr *ngFor="let c of api.data">
          <td>{{c.id}}</td>
          <td>{{c.nama_course}}</td>
          <td>{{c.nama_dosen}}</td>
          <td>{{c.sks}}</td>
        </tr>
    </table>
</div>